#title{
  background-color: #ff4c68;
  color: #fff;
}
body {
  font-family: "Montserrat" , sans-serif;
  font-weight: 900;
}
h1 {
  font-family: 'Montsrerrat' , sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
}

.container-fluid{
  padding: 3% 12%;
}

 /* Navigation Bar */

 .navbar{
   padding: 0 0 4.5rem;
 }
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px ;
  font-size: 1.2rem;
}
.nav-link{
  font-family: "Montserrat";
  font-weight: 200;
}

/* Download button */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img{
  width: 60%;
  transform: rotate(25deg);
}
